body{
  background-color: #0d1b2a;
  
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  color: white;

}

button{
  border:none;
  background-color: gray;
  padding: 5px;
  transition: all 0.5s ease;
  border-radius: 5px;
  margin: 2px;
  color: white;
}

.new-task input{
  border: none;
  border-bottom: solid 0.1em black;
}



.element{
  padding: 10px;
  border: 2px solid rgba(152, 147, 147, 0.174);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.5s ease;
}

.element:hover{
  cursor: grab;
  border: 2px solid rgba(152, 147, 147, 0.849);;
}

button:hover{
  
    transform: translateY(-0.1em);
}

.delete-btn{
  background-color: rgba(255, 0, 0, 0.426);
}
.delete-btn:hover{
  background-color: rgba(255, 0, 0, 0.608);
  box-shadow: 0 0.5em 0.5em -0.4em #ff6f5c92;
}

.move-btn{
  background-color: rgb(46, 165, 224);
}
.move-btn:hover{
  background-color: rgb(41, 150, 204);
  box-shadow: 0 0.5em 0.5em -0.4em rgb(38, 135, 184);
}

.text{
  flex: 1;
}


.list{
  padding-bottom: 100px;
}

.clist{
  bottom: 0px;
}
